html {
  font-size: 14px;
}

.sidebar {
    height: 100vh; /* Set height to 100% of viewport height */
    background-color: #343a40; /* Example sidebar background color */
    color: white; /* Example text color */
  }

.board-col {
  height: 100vh;
}
  

/* .rounded-pill {
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
} */