{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

        <h1>Add a new cafe into the database</h1> 
        <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        <p>{{ wtf.form_field(form.name) }}</p>
        <p>{{ wtf.form_field(form.location) }}</p>
        <p>{{ wtf.form_field(form.map_url) }}</p>
        <p>{{ wtf.form_field(form.img_url) }}</p>
        <p>{{ wtf.form_field(form.has_sockets) }}</p>
        <p>{{ wtf.form_field(form.has_toilet) }}</p>
        <p>{{ wtf.form_field(form.has_wifi) }}</p>
        <p>{{ wtf.form_field(form.can_take_calls) }}</p>
        <p>{{ wtf.form_field(form.seats) }}</p>
        <p>{{ wtf.form_field(form.coffee_price) }}</p>
        
        <button name='submit' type="submit" class="btn btn-primary">Submit</button>
</form>
	  </div>

    <br>
    <p class="space-above"><a href="{{ url_for('home')}}">See all cafes</a></p>

  </div>
</div>
{% endblock %}