{% extends "base.html" %}

{% block content %}
{{ super() }}

<div class="container">
    <div class="row">
        {% for col in tdd %}
        <div class="col-3 border board-col">
            <h4 class="mt-2 mb-4 text-center">{{ col }}</h4>
            {% for task in tdd[col] %}
                <div class="card w-100 mb-3">
                    <div class="card-body">
                        <div class="d-grid">
                            <div class="row row-cols-2 d-flex justify-content-between">
                                <div class="col-auto d-flex flex-column gap-1">
                                    <h5 class="card-title" style="display: inline;">{{ task }}</h5>
                                    <p class="card-text m-0">{{ tdd[col][task][0] }}</p>
                                    <small>{{ tdd[col][task][1] }}</small>
                                </div>
                                <div class="col-auto d-flex flex-column justify-content-between align-item gap-1">
                                    <button type="submit" class="btn btn-warning px-1 py-1 lh-1">Edit</button>
                                    <form method="post" id="delete" name="{{ task }}>
                                        <button type="submit" class="btn btn-danger px-1 py-1 lh-1 ">Delete</button>
                                    </form>
                                    {% if col==keys[0] %}
                                        <form method="post" id="right" name="{{ task }}>
                                            <button type="submit" class="btn btn-primary px-1 py-0">
                                                <i class="bi bi-arrow-right"></i>
                                            </button>
                                        </form>
                                    {% elif col==keys[-1] %}
                                         <form method="post" id="left" name="{{ task }}>
                                            <button type="submit" class="btn btn-primary px-1 py-0">
                                                <i class="bi bi-arrow-left"></i>
                                            </button>
                                        </form>
                                    {% else %}
                                    <div class="d-flex justify-content-center gap-1">
                                        <form method="post" id="left" name="{{ task }}">
                                            <button type="submit" class="btn btn-primary px-1 py-0">
                                                <i class="bi bi-arrow-left"></i>
                                            </button>
                                        </form>
                                        <form method="post" id="right" name="{{ task }}>
                                            <button type="submit" class="btn btn-primary px-1 py-0">
                                                <i class="bi bi-arrow-right"></i>
                                            </button>
                                        </form>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
        
    </div>

</div>



{% endblock %}