{% extends "base.html" %}

{% block content %}
{{ super() }}

<div class="container">
    <div class="row">
        {% for col in tdd %}
        <div class="col-3 border board-col">
            <h4 class="mb-4">{{ col }}:</h4>
            {% for task in tdd[col] %}
                <div class="card w-100 mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start">
                            <h5 class="card-title" style="display: inline;">{{ task }}</h5>
                            <span class="badge bg-primary rounded-pill">1</span>
                        </div>
                        <p class="card-text m-0">{{ tdd[col][task][0] }}</p>
                        <small>{{ tdd[col][task][1] }}</small>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
        
    </div>

</div>



{% endblock %}